.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.posts {
  max-width: 720px;
  margin: 5rem auto 0;

  article {
    a {
      display: block;
      margin-top: 2rem;
      padding: 1.5rem 0;

      time {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        color: var(--gray-300);
      }

      h1 {
        font-size: 2rem;
        line-height: 2rem;
        margin-top: 1.6rem;
        transition: color 0.2s;
      }

      p {
        font-size: 1.6rem;
        line-height: 1.6rem;
        color: var(--gray-300);
        margin-top: 1rem;
      }

      &:hover h1 {
        color: var(--yellow-500);
      }
    }

    & + article {
      border-top: 1px solid var(--gray-700);
    }
  }
}
